@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
body {
  font-family: 'Roboto', sans-serif !important;
}

.login-page-background {
  display: flex;
  justify-content: center;
  background-image: url('../src/assets/images/loginpage.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding: 0px;
}

.login_container {
  margin: 100px auto;
  width: 400px;
  text-align: center;
  padding: 80px;
  background: #fff;
  display: flex;
  align-items: center;
}

.login-azure-btn {
  margin-top: 20px;
  width: 100%;
  background-color: #727272;
  color: white;
  border-radius: 0px;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
}
.login-azure-btn:hover {
  background-color: #535353;
  border-radius: 0px;
  font-weight: 700;
}
